*{
  margin: 0;
  padding: 0;
}
html{
  overflow-x: hidden;
  scroll-behavior: smooth;
}
#root{
  max-width: 1366px;
  margin: auto;
}
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  font-family: 'Roboto', sans-serif;
}
.logo{
  color: #fc8019;
}
.menus{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 0.67;
}
.menus_items{
  display: flex;
  align-items: center;
}
.menu_list{
  padding: 0 1rem;
}
.menu_list a{
  text-decoration: none;
  color: #fff;
}
.menu_list a:hover{
  color: #fc8019;
}

.menu_list a .MuiSvgIcon-root{
  font-size: 2.5rem;
}
.search_items{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search_items .form{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search_items .form input{
  height: 40px;
  font-size: 1rem;
  padding-left:20px;
  outline: none;
  border: none;
  border-radius: 3px;
}
.search_items .form button{
  margin-left: 16px;
  cursor: pointer;
  background-color: #fc8019;
  color: #fff;
  padding: 12px 30px;
  outline: none;
  border: none;
  border-radius: 3px;
  font-size: 1rem;
}
.search_items .form button:hover{
  opacity: 0.9;
}
.cart_product{
  display: flex;
}
.cart_items button{
   outline: none;
   border: none;
   background:transparent;
   cursor: pointer;
}
.cart_items{
  position: relative;
}
.cart_items p{
  position: absolute;
  background-color: #fc8019;
  border-radius: 50%;
  width: 17px;
  height: 17px;
  color: #fff;
  text-align: center;
  bottom: 25px;
  left: 8px;
}
.cart_items .MuiSvgIcon-root{
  color: #fff;
  margin-right: 5px;
  font-size: 2rem;
}
.cart_items span{
  color: #fff;
  font-size: 1rem;
}
.banner_background{
  width: 100%;
  height: 100vh;
}
.banner_background_color{
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0,0.6);
}
.food_add_lines{
  text-align: center;
  margin-top: 4rem;
}
.food_add_lines h1{
  color: #fff;
  text-align: center;
  margin-top: 3rem;
  font-size: 4rem;
}
.food_add_lines p{
  text-align: center;
  color: #fff;
  margin-top: 3rem;
  font-family: 200;
  font-size: 2rem;
  font-weight: 100;
}
.food_add_lines h3{
  text-align: center;
  color: #fff;
  margin-top: 3rem;
  font-weight: 400;
}
.food_add_lines .scroll_icon{
  text-align: center;
  color: #fff;
  margin-top: 5rem;
}
.food_add_lines .scroll_icon a{
  color: #fff;
}
.food_add_lines .scroll_icon .MuiSvgIcon-root{
  border: 1px solid #fff;
  border-radius: 50%;
  cursor: pointer;
  font-size: 2rem;
  animation: bounceInDown 1s linear infinite;
}

@keyframes bounceInDown {
  50% {
     transform: translateY(6px);
  }
  100% {
     transform: translateY(0px);
  }
}
.food_items_list{
  width: 80%;
  display: flex;
  margin: auto;
  margin-top: 4rem;
}
.option_menu{
  background-color: #fc8019;
  width: 40%;
  height: auto;
  padding: 3rem 1rem;
}
.option_menu h1{
  color: #fff;
  text-align: center;
}
.option_menu div{
  text-align: center;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
}
.option_menu a:hover{
  border: 1px solid #fff;
  border-radius: 4px;
}
.option_menu a{
  text-decoration: none;
  color: #fff;
  font-size: 1.1rem;
  padding: 10px 16px;
}
.item_list{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 20px;
  padding: 0 20px;
}
.food_card{
  width: 100%;
  background-color: #fff;
  border-radius: 30px 0px 0px 0px;
  box-shadow: 0px 0px 5px -1px #ccc;
  cursor: pointer;
}

.food_card img{
  width: 265px;
  height: 170px;
  border-radius: 30px 0px 30px 0px;
  cursor: pointer;
}
.food_card p{
  padding: 10px 1rem;
  text-decoration: none;
  cursor: pointer;
}
.food_card a{
  text-decoration: none;
  color: #262626;
}
.price{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 1rem;
  color: #fc8019;
  padding-bottom: 1rem;
}
.price .MuiSvgIcon-root{
  border: 2px solid #fc8019;
  border-radius: 50%;
  padding: 2px;
  cursor: pointer;
}
.rating{
  padding: 5px 15px;
}
.rating .MuiSvgIcon-root{
  color: #fc8019;
}
.footer{
  padding: 1rem 0;
  margin-top: 13vh;
  background-color: #2b1e16;
}
.social_icon{
  text-align: center;
  margin-top: 3rem;
}
.social_icon .MuiSvgIcon-root{
  color: #fc8019;
  font-size: 2rem;
  cursor: pointer;
  margin: 0 10px;
}
.social_icon .MuiSvgIcon-root:hover{
  transform: scale(1.1);
}
.developer{
  text-align: center;
  margin-top: 2rem;
}
.name{
  color: #fc8019;
  font-weight: bold;
}

/* Login Form Css */
.login_form{
  margin:auto;
  text-align: center;
  padding: 10px;
  width: 360px;
  border: 1px solid #fc8019;
  margin-top: 4rem;
}
.login_form h2{
  color: #fc8019;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login_form .MuiSvgIcon-root{
  font-size: 2rem;
  margin-top: 10px;
  margin-right: 10px;
}
.login_form input{
  width: 90%;
  height: 40px;
  font-size: 1rem;
  outline: none;
  border: 1px solid #ccc;
  padding: 0 10px;
  border-radius: 3px;
  margin-top: 30px;
}
.login_form button{
  margin-top: 2rem;
  cursor: pointer;
  background-color: #fc8019;
  color: #fff;
  padding: 12px 30px;
  outline: none;
  border: none;
  border-radius: 3px;
  font-size: 1rem;
  margin-bottom: 1rem;
}

/* About us */
.about_us{
  width: 70%;
  margin: auto;
  border: 1px solid #fc8019;
  margin-top: 4rem;
}
.about_us h1{
  background-color: #fc8019;
  font-size: 2.4rem;
  padding: 2rem 0;
  text-align: center;
  color: #fff;
}
.about_us .MuiSvgIcon-root{
  margin-right: 10px;
  font-size: 2rem;
}
.about_us p{
  padding: 2rem 1rem;
  line-height: 1.8;
}
/* Product screen*/

.product{
  margin: auto;
  padding: 1rem 0;
  width: 50%;
}
.product h2{
  color: #fc8019;
  font-size: 2rem;
  margin: 1rem 0;
  text-align: center;
}
.product img{
  border-radius: 10px;
  width: 100%;
  height: 400px;
}
.product p{
  margin: 1rem 0;
}
.product button{
  margin-top: 1rem;
  cursor: pointer;
  background-color: #fc8019;
  color: #fff;
  padding: 12px 30px;
  outline: none;
  border: none;
  border-radius: 3px;
  font-size: 1rem;
  margin-bottom: 1rem;
}

/* Address Form */

.address_form{
  margin:auto;
  text-align: center;
  padding: 10px;
  width: 360px;
  border: 1px solid #fc8019;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.address_form h2{
  color: #fc8019;
}
.address_form input{
  width: 90%;
  height: 40px;
  font-size: 1rem;
  outline: none;
  border: 1px solid #ccc;
  padding: 0 10px;
  border-radius: 3px;
  margin-top: 30px;
}
.address_form button{
  margin-top: 2rem;
  cursor: pointer;
  background-color: #fc8019;
  color: #fff;
  padding: 12px 30px;
  outline: none;
  border: none;
  border-radius: 3px;
  font-size: 1rem;
  margin-bottom: 1rem;
}

/* responsive*/

@media(max-width: 800px){
  .item_list {
     display: flex;
     flex-direction: column;
  }
  .product img {
    height: 200px;
  }
  .login_form ,.address_form{
    width: 300px;
  }
  .search_items{
    display: none;
  }
  .food_items_list {
    width: 100%;
    margin-top: 1rem;
  }
  .food_card img{
    width: 100%;
  }
  .option_menu {
    padding: 1rem;
  }
  header {
    padding: 1rem 0rem;
  }
  .menu_list {
    padding: 0 10px;
  }
  .menus_items{
    justify-content: space-between;
  }
  .cart_items {
    margin-right: 18px;
  }
  .food_add_lines p{
    margin-top: 2rem;
  }
  .food_add_lines .scroll_icon {
    margin-top: 2rem;
  }
  .footer{
    margin-top: 1rem;
  }
  .product {
    width: 90%;
  }
}